<%- include ../navigation%>
<html>
        <link rel="stylesheet" href="/css/scoringButtons.css" />
<style>
    
    #redButton {
        position: absolute;
        top: 50%;
        left: 47.5%;
    }
    #blueButton {
        position: absolute;
        top: 42.5%;
        left: 47.5%;
    }
</style>
<title>Pick an Alliance to Score</title>
<h1> <span class="red">Pick an Alliance to Score!</pan></h1>
<div class = "buttonHolder">
<a href="/scoreRed" id="redButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--red">Red
    Alliance</a>
</div>
<div class = "buttonHolder">
<a href="/scoreBlue" id="blueButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--blue">Blue
    Alliance</a>
</div>
<a href="/home" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
    <i class="material-icons">arrow_back</i>
</a>


</html>