:root{
    --main-header-color: grey;
}
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

.demo-width-class {
  width: 400px;
}
input {

    -moz-appearance: none;
    appearance: none;
    }
table {
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding: 1px;
    text-align: center;
    background-color: var(--main-header-color);
    color: black;
    font-size: 1px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#returnPlaced {
    float: center;
    margin: auto;
    vertical-align: top;
}
#backButton {
   position: fixed;
   background-color: black;
   left:2.5%;
   bottom: 1%;
}
#resetButton {
    position: fixed;
    background-color: black;
    right: 9.5%;
    bottom: 1%;
}
#submitButton {
    position: fixed;
    right: 2.5%;
    bottom: 1%;
}
::-webkit-scrollbar {
    width: 20px;
    height: 100px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FB667A; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFF842
  }
#new {
    position: fixed;
    background-color: black;
    left:6%;
    bottom: 1%;
  }
  #exportButton {
    position: fixed;
    right: 2.5%;
    bottom: 1%;
}
.loader {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #FB667A;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes blink {

  /**
* At the start of the animation the dot
* has an opacity of .2
*/
  0% {
      opacity: .2;
  }

  /**
* At 20% the dot is fully visible and
* then fades out slowly
*/
  20% {
      opacity: 1;
  }

  /**
* Until it reaches an opacity of .2 and
* the animation can start again
*/
  100% {
      opacity: .2;
  }
}

.saving span {
  /**
* Use the blink animation, which is defined above
*/
  animation-name: blink;
  /**
* The animation should take 1.4 seconds
*/
  animation-duration: 1.4s;
  /**
* It will repeat itself forever
*/
  animation-iteration-count: infinite;
  /**
* This makes sure that the starting style (opacity: .2)
* of the animation is applied before the animation starts.
* Otherwise we would see a short flash or would have
* to set the default styling of the dots to the same
* as the animation. Same applies for the ending styles.
*/
  animation-fill-mode: both;

}

.saving span:nth-child(2) {
  /**
* Starts the animation of the third dot
* with a delay of .2s, otherwise all dots
* would animate at the same time
*/
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
* Starts the animation of the third dot
* with a delay of .4s, otherwise all dots
* would animate at the same time
*/
  animation-delay: .4s;
}