:root{
    --main-header-color: grey;
}
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

.demo-width-class {
  width: 400px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding: 1px;
    text-align: center;
    background-color: var(--main-header-color);
    color: black;
    font-size: 1px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#returnPlaced {
    float: center;
    margin: auto;
    vertical-align: top;
}
#backButton {
   position: fixed;
   background-color: black;
   left:2.5%;
   bottom: 1%;
}
#resetButton {
    position: fixed;
    background-color: black;
    right: 9.5%;
    bottom: 1%;
}
#submitButton {
    position: fixed;
    right: 2.5%;
    bottom: 1%;
}
#new {
    position: fixed;
    background-color: black;
    left:6%;
    bottom: 1%;
  }
  #exportButton {
    position: fixed;
    right: 2.5%;
    bottom: 1%;
}