#backButton {
    position: fixed;
    background-color: black;
    left:2.5%;
    bottom: 1%;
 }
 #submitButton {
    position: fixed;
    right: 2.5%;
    bottom: 1%;
}
#new {
    position: fixed;
    background-color: black;
    left:6%;
    bottom: 1%;
  
  }