* {
    box-sizing: border-box
  }
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  .mdl-layout__header {
    background-color: white;
  }


  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
  }

  .textbox_contain {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  .textbox_contain1 {
    position: absolute;

  }

  .textfield {
    position: absolute;
    display: none;
  }

  .label {
    position: absolute;
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tablink:hover {
    background-color: #777;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }