<%- include ('../navigation.ejs')%>
<title>Data</title>
<link rel="stylesheet" href="/css/scoringButtons.css">
<style>
#tourneyData {
    position: absolute;
    top: 42.5%;
    left: 45%;

}
#teamData {
    position: absolute;
    top: 35%;
    left: 45%;

}
#simulation {
    position: absolute;
    top: 50%;
    left: 45%;
}
#tourneySim {
    position: absolute;
    top: 57.5%;
    left: 45%
}

</style>
<body  style = background-color:#1F2739;>
 <a href="/data" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
    <i class="material-icons">arrow_back</i>
</a>
<a href="/gettt" id=tourneyData
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Tournament Data</a>
<a href="/teamApi" id="teamData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Team Data</a>
<a href="/simalAdd" id="simulation"
class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Simulation</a>
<a href="/testCreation" id="tourneySim"
class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Tournament Simulation</a>
</body>



