<%- include ('../navigation.ejs')%>
<script>




</script>
<!DOCTYPE html>
<html>
<title>Simulation</title>

<head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> 
    
    <link rel='stylesheet' href='/css/hawk.css' />
    <link rel='stylesheet' href='/css/simul.css' />
    <link rel="stylesheet" href="/css/scoringButtons.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="/js/simulAdd.js"></script> 
<!-- </body> -->

<!-- <body -->

    <button class="tablink" onclick="openPage('Simulation', this, 'yellow')" color=black
        id="defaultOpen">Simulation</button>
    <button class="tablink" onclick="openPage('Results', this, 'yellow')">Results</button>

    <div id="Simulation" class="tabcontent">

        <script>document.write("<h1> <span class='red'>" + final.length + " Combinations </pan>")</script>
        </h1> 

        <table class=container>
            <thead>
                <tr>
                    <th>
                        <h1>Red 1</h1>
                    </th>
                    <th>
                        <h1>Red 2</h1>
                    </th>
                    <th>
                        <h1>Blue 1</h1>
                    </th>
                    <th>
                        <h1>Blue 2</h1>
                    </th>
                    <th>
                        <h1>OPR Score</h1>
                    </th>
                    <th>
                        <h1>W-L Score</h1>
                    </th>
                </tr>
            </thead>

            <script> 
            let x  = final.length
            if (x > 100) x = 100
                for(let i = 0; i < x; i++) {
                    document.write("<tr>");
                    document.write("<td>" + final[i][0][1] + "</td>")
                    document.write("<td>" + final[i][0][3] + "</td>")
                    document.write("<td>" + final[i][1][1] + "</td>")
                    document.write("<td>" + final[i][1][3] + "</td>")
                    document.write("<td>" + final[i][0][4] +  "-" +  final[i][1][4] + "</td>")
                    document.write("<td>" + final[i][0][5] +  "-" +  final[i][1][5] + "</td>")
                    document.write("</tr>");
                }
            </script>
            

        </table>

    </div>

    <div id="Results" class="tabcontent">
        <h1><span class = 'red'>Rankings</span></h1>
        <table class=container>
            <thead>
                <tr>
                    <th>
                        <h1>Rank</h1>
                    </th>
                    <th>
                        <h1>Team Name</h1>
                    </th>
                    <th>
                        <h1>OPR Record</h1>
                    </th>
                    <th>
                        <h1>OPR Percentage</h1>
                    </th>
                    <th>
                        <h1>W-L Record</h1>
                    </th>
                    <th>
                        <h1>W-L Percentage</h1>
                    </th>
                </tr>
            </thead>
            <script> 
                    for(let i = 0; i < scores.length; i++) {
                        let rank = i + 1
                        document.write("<tr>");
                        document.write("<td>" + rank + "</td>")
                        document.write("<td>" + scores[i][1] + "</td>")
                        document.write("<td>" + scores[i][3] + "-" + scores[i][4] + "-" + scores[i][5] + "</td>")
                        document.write("<td>" + scores[i][6] + "% </td>")
                        document.write("<td>" + scores[i][8] +  "-" +  scores[i][9] + "-" + scores[i][10] + "</td>")
                        document.write("<td>" + scores[i][11] + "% </td>")
                        document.write("</tr>");
                    }
                </script>
        </table>

    </div>
    <a href="/simulAdd" id="backButton"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
        <i class="material-icons">arrow_back</i>
    </a>




    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>

</html>