<%- include ('../navigation.ejs')%>
<html>
        <link rel="stylesheet" href="/css/scoringButtons.css" />
<style>
    
    #redButton {
        position: absolute;
        top: 50%;
        left: 47.5%;
    }
    #blueButton {
        position: absolute;
        top: 42.5%;
        left: 47.5%;
    }
</style>
<title>Data</title>
<h1> <span class="red">Pick a DataBase!</pan></h1>
<div class = "buttonHolder">
<a href="/localData" id="redButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Local</a>
</div>
<div class = "buttonHolder">
<a href="/apiData" id="blueButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">API</a>
</div>
<a href="/data" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
    <i class="material-icons">arrow_back</i>
</a>


</html>