<html>
<style>
    body {
        background-image: url("https://i.imgur.com/mmVZxbz.jpg");
    }
</style>
<body>
    
    <h1>Whoops looks like you got lost in the wild! Navigate back to the previous page.</h1>
</body>
</html>