<html>
    
<style>
   
    body {
        background-image: url("https://rockingrandmamusic.com/wp-content/uploads/2011/08/SamSolo5-659x1024.jpg");
    }
    .header {
        color: green;

    };
</style>
<body>
    <div class = header>
    <h1>Whoops Looks Like You Broke Something! Navigate Back to the Previous Page.</h1>
</div>
</body>
</html>
