<html>
<style>
    body {
        background-image: url("https://rockingrandmamusic.com/wp-content/uploads/2011/08/SamSolo5-659x1024.jpg");
    }
</style>
<body>
    <h1>Whoops looks like you broke something! Navigate back to the previous page.</h1>
</body>
</html>
