<% include navigation %>
<html>
    
<style>
   
    body {
        background-color:#1F2739;
    }
    h1{
        color: red;
       
    }
    
</style>
<body>
  <h1 align = center color = red >404 Page Not Found</h1>  
</body>
</html>
