<% include navigation %>
<title>Data</title>
<link rel="stylesheet" href="/css/scoringButtons.css">
<style>
#scoreData {
    position: absolute;
    top: 50%;
    left: 45%;
}
#tourneyData {
    position: absolute;
    top: 45%;
    left: 45%;

}
#teamData {
    position: absolute;
    top: 40%;
    left: 45%;

}
#scoutData {
    position: absolute;
    top: 55%;
    left: 45%;
}

</style>
 <a href="/home" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
    <i class="material-icons">arrow_back</i>
</a>

<a href="/tournamentData" id="tourneyData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Tournament Data</a>

<a href="/teamData" id="teamData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Team Data</a>

<a href="/scoringData" id="scoreData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Scoring Data</a>

<a href="/scoutingData" id="scoutData"
class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Scouting Data</a>


