<% include navigation %>
<style>
#scoreData {
    position: absolute;
    top: 50%;
    left: 47.5%;
}
#tourneyData {
    position: absolute;
    top: 45%;
    left: 47.5%;
}

</style>
<a href="/scoringData" id="scoreData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Scoring Data</a>
</div>
<a href="/tournamentData" id="tourneyData"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Tournament Data</a>
</div>