<!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

</style>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/score">Scoring</a></li>
    <li><a href="/announcements">Announcements</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/scout">Scout</a></li>
    <li><a href="/data">Data</a></li>
    <li style="float:right"><a class="active" href="/login">Logout</a></li>
</ul>