</html>

<head>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
    </script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
    table#Autonomous {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="Autonomous">
    <span class="mdl-layout-title">Autonomous Period</span>
    <thead>
        <tr>
            <th class="">Type</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>5th</th>
            <th>6th</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="">Skystone</td>
            <td><input type="checkbox" name="skystone" /></td>
            <td><input type="checkbox" name="skystone" /></td>
            <td><input type="checkbox" name="skystone" /></td>
            <td><input type="checkbox" name="skystone" /></td>
            <td><input type="checkbox" name="skystone" /></td>
            <td><input type="checkbox" name="skystone" /></td>
        </tr>
        <tr>
            <td class="">Stone</td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
        </tr>
        <tr>
            <td class="">None</td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
        </tr>

    </tbody>
</table>
<style>
    table#DriverControlled {
        margin-left: "auto";
        margin-right: "auto";
    }
</style>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="DriverControlled">
    <span class="mdl-layout-title">Driver-Controlled Period</span>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_delivered_number">Delivered</label>
        <input class="mdl-textfield__input" type="text" id="textfield_new_delivered_number" name="delivered_number"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_tallest_skyscraper">Tallest
            Skyscraper</label>
        <input class="mdl-textfield__input" type="text" id="textfield_new_tallest_skyscraper" name="tallest_skyscraper"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_returned_name">Returned</label>
        <input class="mdl-textfield__input" type="text" id="textfield_new_returned_name" name="returned_name"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_placed">Placed</label>
        <input class="mdl-textfield__input" type="text" id="textfield_new_placed" name="placed" pattern="^[0-9]{1,3}"
            required />
        <span class="mdl-textfield__error"></span>
    </div>
</table>
<div class="mdl-layout-spacer"></div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <span class="mdl-layout-title">End Game Period</span>
    <td class="">Foundation Moved</td>
    <td><input type="checkbox" name="foundation" /></td>
</table>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class=""></th>
            <th>Robot One</th>
            <th>Robot Two</th>
        </tr>
    </thead>
    <tr>
        <td class="">Capstone</td>
        <td><input type="checkbox" name="Capstone" /></td>
        <td><input type="checkbox" name="Capstone" /></td>
    </tr>
    <tr>
        <td class="">Parked</td>
        <td><input type="checkbox" name="Parked" /></td>
        <td><input type="checkbox" name="Parked" /></td>
    </tr>

    </html>