</html>

<head>
    <body>
    <link rel = "stylesheet" href="../css/score.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <body>
    <style>
        table#Autonomous {
            margin-left: auto;
            margin-right: auto;
        };
        button#back {
            margin-left: auto;
            margin-right: auto;
        };
        table#DriverControlled {
            margin-left: "auto";
            margin-right: "auto";
        };
    </style>
    </body>
</head>

<div class="mdl-layout-spacer"></div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="Autonomous">
    <span align= "center" class="mdl-layout-title">Autonomous Period</span>
    <thead>
        <tr>
            <th class="">Type</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
            <th>5th</th>
            <th>6th</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="">Skystone</td>
            <td><input type="checkbox" name="skystone" id = "sky1" /></td>
            <td><input type="checkbox" name="skystone" id = "sky2" /></td>
            <td><input type="checkbox" name="skystone" id = "sky3" /></td>
            <td><input type="checkbox" name="skystone" id = "sky4" /></td>
            <td><input type="checkbox" name="skystone" id = "sky5" /></td>
            <td><input type="checkbox" name="skystone" id = "sky6" /></td>
            
        </tr>
        <tr>
            <td class="">Stone</td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
            <td><input type="checkbox" name="stone" /></td>
        </tr>
        <tr>
            <td class="">None</td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
            <td><input type="checkbox" name="none" /></td>
        </tr>

    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align = "center" id="DriverControlled">
    <span  class="mdl-layout-title" align = "center">Driver-Controlled Period</span>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="delivered_number">Delivered</label>
        <input class="mdl-textfield__input" type="text" id="delivered_number" name="delivered_number"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="tallest_skyscraper">Tallest
            Skyscraper</label>
        <input class="mdl-textfield__input" type="text" id="tallest_skyscraper" name="tallest_skyscraper"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="returned_name">Returned</label>
        <input class="mdl-textfield__input" type="text" id="returned_name" name="returned_name"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="placed">Placed</label>
        <input class="mdl-textfield__input" type="text" id="placed" name="placed" pattern="^[0-9]{1,3}"
            required />
        <span class="mdl-textfield__error"></span>
    </div>
</table>
<div class="mdl-layout-spacer"></div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align = "center" id = "found">
    <span align = "center" class="mdl-layout-title">End Game Period</span>
    <td class="">Foundation Moved</td>
    <td><input type="checkbox" name="foundation" /></td>
</table>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align = "center" id = "Robots">
    <thead>
        <tr>
            <th class=""></th>
            <th>Robot One</th>
            <th>Robot Two</th>
        </tr>
    </thead>
    <tr>
        <td class="">Capstone</td>
        <td><input type="checkbox" name="Capstone" /></td>
        <td><input type="checkbox" name="Capstone" /></td>
    </tr>
    <tr>
        <td class="">Parked</td>
        <td><input type="checkbox" name="Parked" /></td>
        <td><input type="checkbox" name="Parked" /></td>
    </tr>
<style>
table#levels{
    left: "auto";
    right: "auto";
}
</style>
</table>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col" id = "levels">
        <label class="mdl-textfield__label mdl-color-text--grey" for="delivered_number">Level</label>
        <input class="mdl-textfield__input" type="text" id="delivered_number" name="delivered_number"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
    <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
        <label class="mdl-textfield__label mdl-color-text--grey" for="tallest_skyscraper">
            Level</label>
        <input class="mdl-textfield__input" type="text" id="tallest_skyscraper" name="tallest_skyscraper"
            pattern="^[0-9]{1,3}" required />
        <span class="mdl-textfield__error"></span>
    </div>
</table>
<stlye>
    
</stlye>
    <a id = "back" href="http://localhost:3001/home" 
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--white">Back</a>
    </html>