<% include navigation %>
<html>
<link rel="stylesheet" href="/css/score.css">
<a href="/scoreRed" id = "redButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--red">Red Alliance</a>
<a href="/scoreBlue" id = "blueButton"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--blue">Blue Alliance</a>

</html>