<%- include navigation %>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>Scout</title>
<div align=center class=header>
  <h2>Scouting</h2>
</div>
<form method="POST" action="/scout=?">
  <div class=container>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="team_num">Team Number</label>
      <input class="mdl-textfield__input" pattern="^[0-9]{2,6}$" type="text" id="team_num" name="team_num" required />
      <span class="mdl-textfield__error">Numbers Only</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="event_name">Event Name</label>
      <input class="mdl-textfield__input" type="text" id="event_name" name="event_name" required />
      <span class="mdl-textfield__error"></span>
    </div>
  </div>
  </div>
  <span align="center" class="mdl-layout-title">Autonomous Period</span>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <td><input id="firstRet" type="checkbox" onclick=go1() name="MF" id="MF" /></td>
    <td class="">Sense Skystones</td>
    <td><input id="firstRet" type="checkbox" onclick=go2() name="SS" id="SS" /></td>
    <td class="">Park Over the Build Zone</td>
    <td><input id="firstRep" type="checkbox" name="PDZ" onclick=go3() id="PDZ" /></td>
    <td class="">Collect Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go4(1) name="CS" id="CS" /></td>
    <td class="">Place Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go4(2) name="FS" id="FS" /></td>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand1
        id="expand1"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label1 for="expand1">Foundation
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand2
        id="expand2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label2 for="expand2">Sensing
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand3
        id="expand3"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label3 for="expand3">Parking
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10" name=expand4
        id="expand4"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label4 display=none for="expand4">Stones
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10" name=add_auto
        id="add_auto"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=add_label display=none for="add_auto">Additional
        Information</label>
    </div>

  </div>
  <span align="center" font-weight = bold class="mdl-layout-title">Teleop Period</span>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <td><input id="firstRet" type="checkbox" onclick=go5() name="MF_" id="MF_" /></td>
    <td class="">Collect Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go6(1) name="CS_" id="CS_" /></td>
    <td class="">Place Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go6(2) name="FS_" id="FS_" /></td>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_1
        id="expand_1"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand__label1 for="expand_1">Foundation
        Description</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_2
        id="expand_2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand__label2 for="expand_2">Stone
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10"
        name=additional_teleop id="additional_teleop"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=additional_teleop_label display=none
        for="additional_teleop">Additional Information
      </label>
    </div>
  </div>
  <span align="center" class="mdl-layout-title">End Game Period</span>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <td><input id="firstRet" type="checkbox" onclick=go7() name="MF_EG" id="MF_EG" /></td>
    <td class="">Park in the Build Zone</td>
    <td><input id="firstRet" type="checkbox" onclick=go8(1) name="SS_EG" id="SS_EG" /></td>
    <td class="">Park Over the Build Zone</td>
    <td><input id="firstRep" type="checkbox" name="PDZ_EG" onclick=go8(2) id="PDZ_EG" /></td>
    <td class="">Place Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go9() name="FS_EG" id="FS_EG" /></td>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__1
        id="expand__1"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label1 for="expand__1">Foundation
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__2
        id="expand__2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label2 for="expand__2">Parking
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__3
        id="expand__3"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label3 for="expand__3">Stones
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10"
        name=additional_end id="additional_end"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=additional_end_label display=none
        for="additional_end">Additional Information
      </label>
    </div>
    <input id="submitButton" type="submit"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green"
      value="Submit">
  </div>
  <a href="/home" id="backButton"
    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
    <i class="material-icons">arrow_back</i>
  </a>
</form>