<% include navigation %>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/scoringButtons.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script defer src="/js/scout.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/css/hawk.css' />
  <link rel='stylesheet' href='/css/scout.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>Scout</title>
<div align=center class=header>
  <h2>Scouting</h2>
</div>
<form method="POST" action="/scout=?">
  <div class=container>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="team_num">Team Number</label>
      <input class="mdl-textfield__input" type="text" id="team_num" value = "<%=results[0]['team_number']%>" name="team_num" readonly />
      <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="event_name">Event Name</label>
      <input class="mdl-textfield__input" type="text" id="event_name" value = "<%=results[0]['event_name']%>"name="event_name" required />
      <span class="mdl-textfield__error"></span>
    </div>
  </div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <% if (results[0]['move_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;" readonly checked name="MF" id="MF" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;"  readonly name="MF" id="MF" /></td>
    <% } %>
    
    <td class="">Sense Skystones</td>
    <% if (results[0]['sense_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox" onclick="return false;"  readonly checked name="SS" id="SS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;"  readonly name="MF" id="MF" /></td>
    <% } %>
    
    <td class="">Park Over the Build Zone</td>
    <% if (results[0]['over_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox" onclick="return false;"  readonly checked name="PDZ" id="PDZ" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;"  readonly name="PDZ" id="PDZ" /></td>
    <% } %>
    <td class="">Collect Stones</td>
    <% if (results[0]['collect_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox" onclick="return false;"  readonly checked  name="CS" id="CS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;"  readonly name="CS" id="CS" /></td>
    <% } %>
    <td class="">Place Stones</td>
    <% if (results[0]['place_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox" onclick="return false;"  readonly checked name="FS" id="FS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox" onclick= "return false;"  readonly name="FS" id="FS" /></td>
    <% } %>
    
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea value = "Hello" class="mdl-textfield__input mdl-color-text--black" readonly  type="text" rows="10" name=expand1
        id="expand1"></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand_label1  for="expand1">Foundation
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand2
        id="expand2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label2 for="expand2">Sensing
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand3
        id="expand3"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label3 for="expand3">Parking
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10" name=expand4
        id="expand4"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand_label4 display=none for="expand4">Stones
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10" name=add_auto
        id="add_auto"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=add_label display=none for="add_auto">Additional
        Information</label>
    </div>

  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <td><input id="firstRet" type="checkbox" onclick=go5() name="MF_" id="MF_" /></td>
    <td class="">Collect Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go6(1) name="CS_" id="CS_" /></td>
    <td class="">Place Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go6(2) name="FS_" id="FS_" /></td>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_1
        id="expand_1"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand__label1 for="expand_1">Foundation
        Description</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_2
        id="expand_2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand__label2 for="expand_2">Stone
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10"
        name=additional_teleop id="additional_teleop"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=additional_teleop_label display=none
        for="additional_teleop">Additional Information
      </label>
    </div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <td><input id="firstRet" type="checkbox" onclick=go7() name="MF_EG" id="MF_EG" /></td>
    <td class="">Park in the Build Zone</td>
    <td><input id="firstRet" type="checkbox" onclick=go8(1) name="SS_EG" id="SS_EG" /></td>
    <td class="">Park Over the Build Zone</td>
    <td><input id="firstRep" type="checkbox" name="PDZ_EG" onclick=go8(2) id="PDZ_EG" /></td>
    <td class="">Place Stones</td>
    <td><input id="firstRet" type="checkbox" onclick=go9() name="FS_EG" id="FS_EG" /></td>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__1
        id="expand__1"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label1 for="expand__1">Foundation
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__2
        id="expand__2"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label2 for="expand__2">Parking
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__3
        id="expand__3"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=expand___label3 for="expand__3">Stones
        Description</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" display=none rows="10"
        name=additional_end id="additional_end"></textarea>
      <label class="mdl-textfield__label mdl-color-text--black" id=additional_end_label display=none
        for="additional_end">Additional Information
      </label>
    </div>
    <input id="submitButton" type="submit"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green"
      value="Submit">
  </div>
  <a href="/home" id="backButton"
    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
    <i class="material-icons">arrow_back</i>
  </a>
</form>