<% include navigation %>
<a href="/data" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
    <i class="material-icons">arrow_back</i>
</a>
<a href="/newTourney" id="new"
class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
<i class="material-icons">add</i>
</a>