<% include navigation %>
<div class = header>
<h2>Team Data Entries</h2>
</div>
<a href="/data" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
    <i class="material-icons">arrow_back</i>
</a>
<a href="/newTeam" id="new"
class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
<i class="material-icons">add</i>
</a>
<a href="/downloadTournament" id="exportButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Download</a>